site_name: Brine2D Documentation
theme:
  name: material
  palette:
    scheme: slate
  features:
    - content.code.copy
    - content.code.select
nav:
  - Home: index.md
  - Getting Started:
      - Installation: getting-started/installation.md
      - Your First Game: getting-started/your-first-game.md
  - Engine:
      - Scenes: engine/scenes.md
      - Sprites: engine/sprites.md
      - Input: engine/input.md
      - Rendering: engine/rendering.md
      - Shaders: engine/shaders.md
plugins:
  - search
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences



